#H1 Data Science Tools and Ecosystem

In this notebook,Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>
- python
- R
- Mysql
- Java.

some of the popular languages that Data Scientists use are:
1.python
2.R
3.MySQL
4.Java

Some of the commonly used libraries used by Data Scientists include:
1.Matplotlib
2.keras
3.Scipy
4.TensorFlow

| Data Science Tools |
| -------------------|
|        knime       |
|      hadoop        |
| Jupyter notebook   |
|         Tableau    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
sathya prathik